/*initialisation*/

body {
  margin: 0;
  padding: 0;
}

/*loader*/
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#preloader img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}



/*navigation et en tête*/
header{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 80px;
}

header .navLeft nav ul li, header .navRight nav ul li{
  display: inline-block;
  margin-right: 30px;
  font-family: tahoma;
}

header .navLeft nav ul li a, header .navRight nav ul li a{
  text-decoration: none;
  font-family: tahoma;
  color: black;
}

header .navLeft nav ul li a:hover, 
header .navRight nav ul li a:hover {
    border-bottom: 2px solid #000;
}

header .logo{
  font-family: 'tahoma', sans-serif;
  background-color: #ffc600;
  padding: 10px;
  text-align: center;
  height: 50px;
  border-radius: 0px 0px 10px 10px;
}
header .logo h3{
  font-size: 10pt;
  transform: translateY(-15px);
}
header .logo h3 span{
  color: white;
  font-size: 15pt;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

/*hero content*/
.hero{
  position: relative;
  width: 100%;
  height: 87vh;
  display: flex;
  align-items: center;
  column-gap: 100px;
  justify-content: center;
}
.hero .welcome{
  font-family: tahoma;
  position: relative;
  text-align: center;
  align-content: center;
}
.hero .welcomeImage img{
  position: relative;
  height: 80vh;
  margin-left: 100px;
}

/*about content*/
.about{
  display: flex;
  column-gap: 50px;
  text-align: justify;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
}


/*code carousel*/
.about .carousel {
  width: 50%;
  margin: 0 auto;
  position: relative;
  width: 90vh;
  height: 55vh;
}

.about .carousel .carousel-images {
  position: relative;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.about .carousel .carousel-images img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vh;
  height: 80vh;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.about .carousel .carousel-images img:not(:first-child) {
  opacity: 0;
  pointer-events: none;
}

.about .carousel .carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
}

#previous {
  left: 0;
  visibility: hidden;
}

#next {
  right: 0;
  visibility: hidden;
}

/*code plage*/
.about .plage{
  width: 50%;
  position: relative;
}


/*offers code*/
.offers{
  margin-bottom: 20px;
}

.offers h1{
  text-align: center;
  font-family: tahoma;
}

.offers .cardBanner .card{
  width: calc(100% / 5);
  height: 100%;
  padding: 10px;
  font-family: tahoma;
  border: 1px solid black;
  display: inline-block;
  margin-left: 30px;
}

.offers .cardBanner .card .imgCard img{
  width: 100%;
}

.offers .cardBanner .card .textCard h2{
  text-align: left;
}

/*gallery code*/
.gallery {
  margin-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.gallery h2 {
  text-align: center;
  font-family: tahoma;
}

.gallery .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px 0px 0px 60px;
}

.gallery .container img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
  filter: blur(3px);
  transition: filter 0.3s ease-in-out;
}

.gallery .container img:hover {
  filter: none;
  animation-duration: 1s;
  transform: scale(1.1);
  z-index: 1;
}

.gallery .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.gallery .button-container button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.gallery .button-container button:last-of-type {
  margin-right: 0;
}

.gallery .active {
  background-color: #2ecc71;
}

/*code blog*/
.blogs {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  font-family: tahoma;
}

.blogs h1{
  font-family: tahoma;
  text-align: center;
  margin-bottom: 30px;
}

.BCard{
  position: relative;
  display: flex;
  column-gap: 50px;
}

.blog-card {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;
  width: calc(100% / 3);
  height: 100%;
  margin-bottom: 50px;
}

.blog-card-image {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.blog-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-card-content {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-card-content h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.blog-card-content p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffc600;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #ff6600;
}

/*code contacts*/
.contacts {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.contacts ul li{
  margin-bottom: 20px;
  list-style-type: none;
  text-transform: uppercase;
}
.contacts ul li a{
  text-decoration: none;
  text-transform: lowercase;
}

.contacts h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

.contacts form {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: inline-block;
  text-align: left;
}

.contacts label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.contacts input[type="text"],
.contacts input[type="email"],
.contacts input[type="tel"],
.contacts select,
.contacts textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
}

.contacts textarea {
  resize: none;
}

.contacts input[type="submit"] {
  background-color: #ff6600;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contacts input[type="submit"]:hover {
  background-color: #ff8c00;
}

@media screen and (min-width: 768px) {
  .contacts form {
    width: 70%;
  }
}


.contacts input[type="submit"] {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contacts input[type="submit"]:hover {
  background-color: #ff8c00;
  transform: scale(1.1);
}

/*footer code*/
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left a {
  margin-right: 15px;
  color: #fff;
  font-size: 20px;
}

.footer-right p {
  font-size: 18px;
  line-height: 1.5;
  text-align: right;
  margin: 0;
}

.footer-bottom {
  background-color: #222;
  text-align: center;
  padding: 10px;
}

.footer-bottom p {
  font-size: 14px;
  margin: 0;
}

/*code du responsive*/
@media screen and (max-width: 700px){
  *{
    margin: 0;
    padding: 0;
  }
  header{
    margin-right: 10px;
    padding-right: 10px;
  }
  header .navLeft nav ul, header .navRight nav ul{
    display: flex;
    margin-top: 50%;
    margin-left: 0;
  }
  header .navLeft nav ul li, header .navRight nav ul li{
    margin-right: 10px;
  }
  header .logo{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transform: translateY(-20px);
  }
  header .logo h3{
    transform: translateX(-20px);
  }
  .hero{
    display: block;
    margin-top: 50px;
  }
  .hero .welcomeImage img{
    width: 400px;
    height: 400px;
    margin-left: 0;
  }
  .hero .welcome h1{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .about{
    display: block;
  }
  .about .carousel{
    margin-top: 10px;
    transform: translateY(30px);
    width: 100%;
    height: 50vh;
  }
  .about .carousel .carousel-images img{
    width: 400px;
    height: auto;
  }
  .about .plage{
    width: 100%;
    position: relative;
    margin-top: 10vh;
  }
  .about .plage h1{
    text-align: left;
    margin-top: 50px;
  }
  .offers .cardBanner .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 350px;
    margin-top: 20px;
  }
  .offers .cardBanner .card .imgCard img{
    width: 250px;
  }
  .gallery .button-container{
    display: none;
  }
  .gallery .container img{
    width: 350px;
    margin-left: -20px;
    height: 300px;
  }
  .blogs{
    max-width: 700px;
  }
  .BCard{
    display: block;
  }
  .blog-card{
    width: 100%;
  }
  .contacts {
    width: 90%;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.texte-bondissant {
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
